<p class="beyondcalcee"> Beyond Calcee </p>
<br>
<div class="main">
    <p> Calcee's job is to facilitate the use of a standard calculator by providing the most 
        rudimental math operations as well as diminishing the trouble when targeting more specific calculations; it is designed for those who seek quick solutions of math equations comprising 
        two parameters without having to deal with an enourmous pool of buttons that only distract; it is for those
        whose calculation desires are nowhere to be found or atleast very hard to be found. Its design it intuitive,
        simple and sleek. 
        <br> Future projects of mine will certainly be adjacent to my passions. As of yet, Calcee
        stands on its own amidst my upcoming projects, but soon will be accompanied by a collection of simple-to-use tools.
        I want to thank you for trying out and using this very simple calculator and we hope you had a pleasant
        time using it. As in everything that surrounds us, simplicity is the only thing that sees through chaos and renders order.
        <br> Accordingly, simplicity is my goal.
    </p>
</div>