
.title {
    text-align: center;
    color:rgb(55, 78, 14);
    font-size: 30px;
    letter-spacing: 4px;
    margin-top: 4%;
}

.botBar .opt {
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
}

.botBar {
    text-align: center;
    margin-top: 10%;
    position: relative;
}

.botBar button {
    background-color:rgb(161, 204, 141);
    border: none;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 3px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    letter-spacing: 2px;
    color: white;
}

