<p class="hometitle"> Don't waste your time and start calculating now! </p>
<div class="main"> 
    <div class="calctext opt">
        <p> A simple, intuitive calculator for your daily, quick math problems.
        <br> With the necessary operations, you won't be distracted by the otherwise
        <br> abundance of buttons present in today's calculators. 
        <br> This is the heart of Calcee.
        </p>
        <br> <button class="calc" (click)="navigateToCalc()"> Calc </button>
    </div>
    <div class="eeatext opt">
        <p> Extended Euler's Algorithm made easy.
        <br> For more specific tasks, the Extended Euler's Algorithm is at times needed 
        <br> to calculate much harder equations. Calcee provides this option for the
        <br> ones dealing with more in-depth math problems.
        </p>
        <br> <button class="eea" routerLink="/eea" > EEA </button>
    </div>
    <div class="fastexpotext opt">
        <p> No more troubles with large exponentiation. 
            <br> The Fast Exponentiation Algorithm is frankly used on fewer occasions than
            <br> the other options provided by Calcee, yet it is of utmost important in math algebra.
            <br> For Calcee large exponentiation is no longer a problem!
        </p>
        <br> <button class="fastexpo" routerLink="/fastexpo"> FastExpo </button>
    </div>
</div>